
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    position: relative;
    display: flex;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: linear-gradient(rgb(37, 46, 63), rgb(46, 30, 66));
    color: rgb(231, 231, 231);
    margin: 0px;
}

.content{
    font-size: 100px;
    color: white;
    margin: auto;
}